/*地址部分*/
.address-item,
.address-add{
    width: 200px;
    padding: 10px;
    border: 3px dashed #cccccc;
    float: left;
    margin: 20px 20px 0 0;
    cursor: pointer;
}

.address-item.active {
    border: 3px dashed #c60023;
}

.address-item:hover,
.address-add:hover{
    background: #fafafa;
}

.address-item .address-title {
    border: 1px solid #dddddd;
    color: #666666;
    height: 20px;
    overflow: hidden;
    line-height: 20px;
}

.address-item.active .address-title {
    color: #c60023;
    font-weight: bold;
    border-bottom: 1px solid #c60023;
}
.address-item .address-detail {
    font-size: 12px;
    height: 40px;
    line-height: 20px;
    overflow: hidden;
    margin-top: 5px;
    color: #666666;
}

.address-item .address-opera {
    visibility: hidden;
    text-align: right;
}

.address-item:hover .address-opera {
    visibility: visible;
}

.address-item .address-opera .link {
    margin-right: 5px;
}

.address-add .address-new {
    text-align: center;
    color: #cccccc;
    padding: 8px 0;
}

.address-add .address-new .fa {
    font-size: 50px;
    line-height: 50px;
}

.address-add .address-new .text {
    font-size: 12px;
}

/*商品清单部分*/
.product-table {
    width: 100%;
    margin: 10px 0;
    /*边框重叠就显示一个*/
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border-bottom: 1px solid #dddddd;
}

.product-table .cell-img {
    padding: 10px;
    width: 10%;
    text-align: center;
}

.product-table .cell-img .p-img {
    width: 80px;
    height: 80px;
    border: 1px solid #dddddd;
}

.product-table .cell-info {
    width: 30%;
    text-align: left;
}

.product-table .cell-price {
    width: 20%;
    text-align: center;
}

.product-table .cell-count {
    width: 20%;
    text-align: center;
}

.product-table .cell-total {
    width: 20%;
    text-align: center;
}

/*订单的提交*/
.submit-con {
    background: #eeeeee;
    text-align: right;
}

.submit-con .submit-total {
    margin-right: 20px;
    font-size: 18px;
    color: #c60023;
    font-weight: bold;
    vertical-align: middle;
}

.submit-con .order-submit {
    height: 60px;
    line-height: 60px;
    width: 100px;
    text-align: center;
}
/**/
/*modal 编辑弹窗*/
.modal {
    /*这样就可以实现全屏覆盖*/
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #eee;
    background: rgba(0, 0, 0, .4);
    /*防止有层级过高的挡住dialog*/
    z-index: 1000;
    /*让dialog不能左右滚动*/
    overflow-x: hidden;
    /*防止内容过长超出可视区范围*/
    overflow-y: auto;
}

.modal .modal-container {
    width: 600px;
    background: #fff;
    margin: 100px auto;
    border-radius: 5px;
    /*text-align: center;*/
    padding: 5px;
}

.modal .modal-container .modal-header {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.modal .modal-container .modal-header .modal-title {
    font-size: 14px;
}

.modal .modal-container .modal-header .close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    cursor: pointer;
}

.modal .modal-container .modal-body {
    padding: 15px;
}

/*form部分*/
.form .form-line {
    margin: 5px 0;
    overflow: hidden;
}

.form .form-line .label {
    display: block;
    float: left;
    width: 100px;
    text-align: right;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    cursor: pointer;
    vertical-align: middle;
}

.form .form-line .label .required {
    color: #c60023;
}

.form .form-line .form-item {
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    outline: none;
    margin-right: 10px;
}

.form .form-line .btn {
    margin-left: 105px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    margin-top: 10px;
}



