/*导航主体*/
.nav-side{
    position: relative;
    left: 60px;
    width:100px;
    min-height: 100px;
    float: left;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 15px;
    float: left;
    margin-bottom: 10px;
}
.nav-side .nav-item .link{
    color: #888;

}
.nav-side .nav-item.active .link{
    color: #600;


}
/*右侧内容区*/
.content.width-nav{
    float: left;
    width:950px;
}