.header .logo{
    position: absolute;
    left:80px;
    top: 45px;
    display: block;
    font-size: 36px;
    color: #c60023;
    font-weight: bold;
    text-decoration: none;
}
.header .search{
    padding: 40px 0 30px 250px;
}
.header .search .search-input{
    width:550px;
    height:40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border:2px solid #c60023;
    outline: none;
}
.header .search .search-btn{
   position: absolute;/*脱离文档流*/
/*    margin:19px 0 0 0;*/
    height: 44px;
    width:80px;
}

/*面包屑导航*/
.crumb{
    margin-bottom:15px;
    height:50px;
    line-height:50px;
    background: #eee;
    color: #888;
    font-size:14px;
    border-top:2px solid #c60023;
}