<div class="footer">
    <div class="w">
        <div class="links">
            <a href="https://github.com/weiqiujuan" class="link" target="_blank">GitHub</a>｜
            <a href="https://blog.csdn.net/qq_39083004" class="link" target="_blank">CSDN</a>｜
            <a href="https://www.baidu.com" class="link" target="_blank">百度</a>｜
            <a href="https://segmentfault.com/" class="link" target="_blank">segmentfault</a>｜
            <a href="https://xitu.io/" class="link" target="_blank">掘金</a>｜
        </div>
        <p class="copyright">
            Copyright © 2017 weiqiujuan All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>