.nav-simple{
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #dddddd;
    background: #ffffff;
}
.nav-simple .logo{
    font-size: 26px;
    font-weight: bold;
    color: #c60023;
}
