<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset=utf-8> <meta http-equiv=x-ua-compatible content="ie=edge"> <meta name=keywords content=SauceyMall电商平台> <meta name=description content=网上购物商城> 
    <title>商品列表 - Sauceymmall电商平台</title>
<link rel="shortcut icon" href="/dist/favicon.ico"><link href="/dist/css/common.css?13d2833b6065497fbd0a" rel="stylesheet"><link href="/dist/css/list.css?13d2833b6065497fbd0a" rel="stylesheet"></head>
<body>
<div class=nav> <div class=w> <div class=user-info> <span class="user not-login"> <span class="link js-login">登录</span> <span class="link js-register">注册</span> </span> <span class="user login"> <span class=link-text>欢迎， <span class=username></span> </span> <span class="link js-logout">退出</span> </span> </div> <ul class=nav-list> <li class=nav-item> <a href=./cart.html class=link> <i class="fa fa-shopping-cart"></i> 购物车(<span class=cart-count>0</span>) </a> </li> <li class=nav-item> <a href=./order-list.html class=link>我的订单</a> </li> <li class=nav-item> <a href=./user-center.html class=link>SauceyMall</a> </li> <li class=nav-item> <a href=./about.html class=link>AboutMall</a> </li> </ul> </div> </div>
<div class=header> <div class=w> <a href=./index.html class=logo>Saucey</a> <div class=search> <input class=search-input id=search-input placeholder=请输入商品名称 /> <button class="btn search-btn" id=search-btn>搜索</button> </div> </div> </div>
<div class="crumb">
    <div class="w">
        <div class="crumb-con">
            <a class="link" href="./index.html">Mall</a>
            <span></span>
            <span class="link-text">商品列表</span>
        </div>
    </div>
</div>
<div class="page-wrap w">
    <ul class="sort-con">
        <li class="sort-item active" data-type="default">默认排序</li>
        <li class="sort-item" data-type="price">
            <span>价格</span>
            <i class="fa fa-sort-asc"></i>
            <i class="fa fa-sort-desc"></i>
        </li>
    </ul>
    <!-- list 容器 -->
    <ul class="p-list-con">

    </ul>

    <!-- 分页容器 -->
    <div class="pagination"></div>
</div>
<div class=footer> <div class=w> <div class=links> <a href=https://github.com/weiqiujuan class=link target=_blank>GitHub</a>｜ <a href=https://blog.csdn.net/qq_39083004 class=link target=_blank>CSDN</a>｜ <a href=https://www.baidu.com class=link target=_blank>百度</a>｜ <a href=https://segmentfault.com/ class=link target=_blank>segmentfault</a>｜ <a href=https://xitu.io/ class=link target=_blank>掘金</a>｜ </div> <p class=copyright> Copyright © 2017 weiqiujuan All Right Reserved </p> </div> </div> <script src=https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js></script>
<script type="text/javascript" src="/dist/js/common.js?13d2833b6065497fbd0a"></script><script type="text/javascript" src="/dist/js/list.js?13d2833b6065497fbd0a"></script></body>
</html>