<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset=utf-8> <meta http-equiv=x-ua-compatible content="ie=edge"> <meta name=keywords content=SauceyMall电商平台> <meta name=description content=网上购物商城> 
    <title>找回密码 - Sauceymmall电商平台</title>
<link rel="shortcut icon" href="/dist/favicon.ico"><link href="/dist/css/common.css?13d2833b6065497fbd0a" rel="stylesheet"><link href="/dist/css/user-pass-reset.css?13d2833b6065497fbd0a" rel="stylesheet"></head>
<body>
<div class=nav-simple> <div class=w> <a href=./index.html class=logo>Saucey</a> </div> </div>
<div class="page-wrap">
    <div class="w">
        <div class="user-con">
            <div class="user-title">
                找回密码
            </div>
            <div class="user-box">
                <div class="error-item">
                    <i class="fa fa-minus-circle error-icon">
                        <p class="err-msg">
                            Error
                        </p>
                    </i>
                </div>
                <div class="step-con step-username">
                    <p class="user-item-text">请输入用户名：</p>
                    <div class="user-item">
                        <label class="user-label" for="username">
                            <i class="fa fa-user"></i>
                        </label>
                        <input type='text' class="user-content" id="username" autocomplete="off" placeholder="请输入用户名">
                    </div>
                    <a href="" class="btn btn-submit" id="submit-username">下一步</a>
                </div>
                <div class="step-con step-question">
                    <p class="user-item-text">密码提示问题是：　<span class="question"></span></p>
                    <div class="user-item">
                        <label class="user-label" for="answer">
                            <i class="fa fa-key"></i>
                        </label>
                        <input type='text' class="user-content" id="answer" autocomplete="off"
                               placeholder="请输入密码提示问题答案">
                    </div>
                    <a href="" class="btn btn-submit" id="submit-question">下一步</a>
                </div>
                <div class="step-con step-password">
                    <p class="user-item-text">请输入新密码：</p>
                    <div class="user-item">
                        <label class="user-label" for="password">
                            <i class="fa fa-lock"></i>
                        </label>
                        <input type='text' class="user-content" id="password" autocomplete="off" placeholder="请输入新密码">
                    </div>
                    <a href="" class="btn btn-submit" id="submit-password">下一步</a>
                </div>
                <div class="link-item">
                    <a href="./user-login.html" target="_blank" class="link">返回登录>></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=footer> <div class=w> <div class=links> <a href=https://github.com/weiqiujuan class=link target=_blank>GitHub</a>｜ <a href=https://blog.csdn.net/qq_39083004 class=link target=_blank>CSDN</a>｜ <a href=https://www.baidu.com class=link target=_blank>百度</a>｜ <a href=https://segmentfault.com/ class=link target=_blank>segmentfault</a>｜ <a href=https://xitu.io/ class=link target=_blank>掘金</a>｜ </div> <p class=copyright> Copyright © 2017 weiqiujuan All Right Reserved </p> </div> </div> <script src=https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js></script>
<script type="text/javascript" src="/dist/js/common.js?13d2833b6065497fbd0a"></script><script type="text/javascript" src="/dist/js/user-pass-reset.js?13d2833b6065497fbd0a"></script></body>
</html>